<!DOCTYPE HTML>
<!--
	Miniport by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

<head>
	<title>SingOut | signup</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
	<link rel="stylesheet" href="assets/css/main.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
</head>

<body class="is-preload" style="background: #0e2439">

    <!-- Nav -->
	<nav id="nav">
            <ul class="container">
                <!-- <li><a href="#top">Top</a></li> -->
                <li><a href="/">Home</a></li>
                <li><a href="/login">Login</a></li>
                <!-- <li><a href="#contact">Contact</a></li> -->
            </ul>
        </nav>
        <div style="text-align:center"><%= msg %></div>
        <article id="contact" class="wrapper style4">
				<div class="container medium animated fadeIn">
					<header>
						<h2>To Upload You Have To SignUp.</h2>
					</header>
					<div class="row">
						<div class="col-12">
							<form method="post" action="/signup">
								<div class="row">
									<div class="col-6 col-12-small">
                                            <input style="background:whitesmoke" required type="text" name="username" id="name" placeholder="Username" />
                                        </div>
                                        <div class="col-6 col-12-small">
                                            <input style="background:whitesmoke" required type="password" name="password" id="email" placeholder="Password" />
                                        </div>
									<div class="col-12">
										<ul class="actions">
											<li><input type="submit" value="Register" /></li>
											<li><input type="reset" value="Clear Form" class="alt" /></li>
										</ul>
									</div>
								</div>
							</form>
						</div>
						<div class="col-12">
                            <hr />
                            <p>Already have an account? <a href="/login">login</a></p>
							<ul class="social">
								<!-- <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
								<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
								<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
								<li><a href="#" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
								<li><a href="#" class="icon fa-tumblr"><span class="label">Tumblr</span></a></li>
								<li><a href="#" class="icon fa-google-plus"><span class="label">Google+</span></a></li>
								<li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li> -->
								<!--
								<li><a href="#" class="icon fa-rss"><span>RSS</span></a></li>
								<li><a href="#" class="icon fa-instagram"><span>Instagram</span></a></li>
								<li><a href="#" class="icon fa-foursquare"><span>Foursquare</span></a></li>
								<li><a href="#" class="icon fa-skype"><span>Skype</span></a></li>
								<li><a href="#" class="icon fa-soundcloud"><span>Soundcloud</span></a></li>
								<li><a href="#" class="icon fa-youtube"><span>YouTube</span></a></li>
								<li><a href="#" class="icon fa-blogger"><span>Blogger</span></a></li>
								<li><a href="#" class="icon fa-flickr"><span>Flickr</span></a></li>
								<li><a href="#" class="icon fa-vimeo"><span>Vimeo</span></a></li>
								-->
							</ul>
							<hr />
						</div>
					</div>
					<footer>
						<ul id="copyright">
							<li>Made by</li><li><a target="blank" href="https://twitter.com/phirmware">@phirmware</a></li>
						</ul>
					</footer>
				</div>
			</article>

	<!-- Scripts -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js">
	</script>
	<script>
	  new WOW().init();
	</script>
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/jquery.scrolly.min.js"></script>
	<script src="assets/js/browser.min.js"></script>
	<script src="assets/js/breakpoints.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/main.js"></script>

</body>

</html>